
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Node dependencies
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert/dist/sweetalert";

@import "icon-styles";

@import "profilePictureAndCo";
@import "petComponent";
@import "user-info";

@import "button-dynamics";

// Overrides
@import "bootstrap-overrides";
@import "sweetalert-overrides";

.spacer {
    height: 40px;
}

#logo {
    display: inline;
    height: 100%;
    width: auto;
    margin-right: 10px;
}

.list-group-item:first {
    border-top: 0
}