.homepage
    font-family: 'Roboto', sans-serif
    background-color: #F8F8F8

    .hero   
        width: 100%
        min-height: 600px
        margin-top: -22px
        background: url('../img/pug.jpg') top / cover fixed
        position: relative

        h2
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            text-align: center
            background: rgba(0, 0, 0, .7)
            color: #fff
            display: inline-block
            padding: 40px
            font-size: 3em
            margin: 0
            font-weight: normal

    .process
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        flex-basis: 256px
        padding: 40px 0
        width: 90%
        margin: 0 auto

        h2   
            font-weight: normal
            display: inline
            width: 100%
            text-align: center
            margin-bottom: 20px
            font-size: 3em

        .item 
            text-align: center
            margin: 20px

        .number
            font-size: 2em
            float: left
            margin-right: 20px
            margin-top: 10px
            font-family: sans-serif

        img 
            height: 119px
            width: auto

        .text 
            margin-top: 20px
            line-height: 1
            max-width: 256px
            text-align: left

    .testimonials
        background-color: #2296f3
        min-height: 400px
        padding: 40px 0

        h2   
            text-align: center
            font-size: 3em
            color: #fff
            
            margin-top: 20px
            margin-bottom: 30px

        .item 
            width: 480px
            max-width: 90%
            margin: 20px auto
            box-shadow: 0 0 15px rgba(0, 0, 0, .3)
            background-color: #fff
            border-radius: 3px

            display: flex
            justify-content: left

            img  
                min-height: 150px
                height: 100%
                width: auto
                margin-right: 20px
                border-top-left-radius: 3px
                border-bottom-left-radius: 3px

            .text 
                margin-top: 7px
                padding-right: 20px

    .cta-section
        text-align: center
        padding: 40px 0
        width: 600px
        max-width: 90%
        margin: 0 auto

        h2 
            font-size: 3em
            margin-bottom: 20px

        .btn    
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3)
            font-size: 1.5em

    .contact 
        min-height: 256px
        display: flex
        align-items: center
        justify-content: center
        background: url('../img/contact-bg.jpg') top / cover
        max-width: 100%
        word-break: break-all
        padding: 20px
        line-height: 1
        text-align: center

        a 
            font-size: 3em
            color: #2296f3
            text-decoration: none