.profile-pic-lg {
    text-align: center;
    margin-top: -22px;
    padding: 40px;
    margin-bottom: 20px;
    // background: $brand-primary url('../img/admin-bg.svg') center / cover;
    // background-attachment: fixed;
    background: linear-gradient(141deg,#5dcde8 0,#3097d1 71%,#52bfe2 100%);

        img {
            width: 300px;
            max-width: 90%;
            height: auto;
            border-radius: 50%;
            border: 5px solid #fff;
            box-shadow: 0 7px 10px rgba(0, 0, 0, .3);
        }
}

// .btn-file {
//     position: relative;
//     overflow: hidden;
    
//     input[type=file] {
//         position: absolute;
//         top: 0;
//         right: 0;
//         min-width: 100%;
//         min-height: 100%;
//         font-size: 100px;
//         text-align: right;
//         filter: alpha(opacity=0);
//         opacity: 0;
//         outline: none;
//         background: white;
//         cursor: inherit;
//         display: block;
//     }
// }