#profile-pic-lg {
    text-align: center;
    margin-top: -40px;
    padding: 40px;
    margin-bottom: 20px;
    background: $brand-primary;

        img {
            border-radius: 50%;
            border: 5px solid #fff;
            box-shadow: 0 7px 10px rgba(0, 0, 0, .3);
        }

    &.admin {
        background: $brand-primary url('../img/admin-bg.png') center / cover;
        background-attachment: fixed;
    }
}